# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# MSVC build & debug files
*.ilk
*.pdb
*.idb
*.exp

# Build directories & IDE configs
build/
bin/
obj/
out/
.vs/
.vscode/
*.vscode
.idea/
*.swp
# Web Dependencies & Build
node_modules/
dist/
.superpowers/
